* {
	margin: 0;
	padding: 0;
}

#opponent-cards {
	width: 90%;
	max-width: 90vw;
	height: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 5rem;
	position: relative;
	top: 3rem;
}

#opponent-cards > div > div {
	height: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: rotate(180deg);
}

.opponent-container {
	max-width: 100%;
}

.players-2 {
	max-width: 100%;
}
.players-3 {
	max-width: 50%;
}
.players-4 {
	max-width: 33%;
}

.opponent-container > h3,
.opponent-container > h1 {
	text-align: center;
	background-color: rgb(167, 46, 46);
	padding: 0.2rem 0;
	line-height: 2rem;
}

.opponent-container > h1 {
	border-radius: 0.5rem 0.5rem 0 0;
}
.opponent-container > h3 {
	border-radius: 0 0 0.5rem 0.5rem;
}

.opponent-container {
	color: #eee;
	border-radius: 0.5rem;
}

.current-player {
	background-color: rgb(57, 209, 118) !important;
	color: #fff !important;
}

.my-turn {
	color: rgb(57, 209, 118) !important;
}

.centered-opponent {
	position: absolute;
	top: 40vh;
	width: 150rem;
}

.user-cards-row {
	width: 90%;
	height: 16.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	column-gap: 0.2rem;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	bottom: 5rem;
	position: absolute;
}

.user-cards-row > div {
	transition: 0.2s all ease-in-out;
}

.card-container {
	flex: 1 0 0;
	overflow-x: hidden;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	max-width: fit-content;
}
.card-container > img {
	border-radius: 0.6rem;
	box-sizing: border-box;
}

div[class='card-container']:hover {
	transform: scale(1.1);
	transform: translate(0, -5%);
}
.card-container:last-child {
	flex: 0 0 auto;
}

.card-image {
	height: 13rem;
}

.player-turn-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	row-gap: 1rem;
	align-items: flex-start;
	z-index: 10;
}

.player-turn-container > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #eee;
	background-color: rgb(90, 90, 90);
	border-radius: 0.4rem;
	padding: 0.5rem 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.selected-card {
	position: relative;
	transform: translate(0, -1.5rem);
}

#countdown,
#game-end-overlay {
	position: absolute;
	top: 20vh;
	left: auto;
	width: 20rem;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #48bb78;
	border-radius: 1rem;
	padding: 2rem 4rem;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.58);
}
#countdown > *,
#game-end-overlay > * {
	text-align: center;
}

#game-end-overlay {
	display: none;
	row-gap: 1rem;
	background-color: #2f855a;
	padding: 1rem 2rem;
	width: 30rem;
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 4rem;
	color: #eee;
}

.actions > button:nth-child(1) {
	background-color: #48bb78;
}

.actions > button:nth-child(2) {
	background-color: #e53e3e;
}

#scoreboard {
	padding: 1rem 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	background-color: #52575b;
	border-radius: 0.4rem;
	row-gap: 0.2rem;
	width: fit-content;
}

#scoreboard > div {
	display: flex;
	direction: row;
	justify-content: flex-start;
	padding: 0 0.5rem;
}

#scoreboard > div > div:nth-child(1) {
	width: 5rem;
}

#scoreboard > div > div:nth-child(2),
#scoreboard > div > div:nth-child(3) {
	width: 4rem;
	text-align: center;
}
