* {
	margin: 0;
	padding: 0;
}

#oponent-cards {
	width: 90%;
	max-width: 90vw;
	height: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 5rem;
}

#oponent-cards > div > div {
	height: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: rotate(180deg);
}

.oponent-container {
	max-width: 100%;
}

.players-2 {
	max-width: 100%;
}
.players-3 {
	max-width: 50%;
}
.players-4 {
	max-width: 33%;
}

.oponent-container > h2 {
	text-align: center;
	color: #eee;
	background-color: rgb(167, 46, 46);
	border-radius: 0.5rem;
	line-height: 2rem;
}

.current-player {
	background-color: rgb(57, 209, 118) !important;
	color: #fff !important;
}

.my-turn {
	color: rgb(57, 209, 118) !important;
}

.centered-oponent {
	position: absolute;
	top: 40vh;
	width: 150rem;
}

.user-cards-row {
	width: 90%;
	height: 16.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0;
	column-gap: 0.2rem;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	bottom: 25rem;
	position: absolute;
}

.user-cards-row > div {
	transition: 0.2s all ease-in-out;
}

.card-container {
	flex: 1 0 0;
	overflow-x: hidden;
	cursor: pointer;
}
.card-container > img {
	border-radius: 0.6rem;
	transition: 0.2s all ease-in-out;
	box-sizing: border-box;
	border: 0.05rem solid transparent;
}

.card-container > img:hover {
	border: 0.2rem solid rgba(37, 197, 77, 0.844);
}
.card-container:last-child {
	flex: 0 0 auto;
}

.card-image {
	height: 13rem;
}

.player-turn-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	color: #eee;
	background-color: rgb(90, 90, 90);
	border-radius: 0.4rem;
	padding: 0 1rem;
}

.player-turn-container > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.selected-card {
	position: relative;
	transform: translate(0, -1.5rem);
}
