* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #56a534;
	padding: 2rem;
	box-sizing: border-box;
}

button,
.current-username {
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}

.wrapper {
	width: 108rem;
	height: 100vh;
	background-image: url(/assets/home_wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 100%;
}

.user-cards-row {
	width: 60%;
	height: 10rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0;
	column-gap: 0.2rem;
	overflow-x: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	bottom: 25rem;
	position: absolute;
}

.card-image {
	height: 7rem;
}

.current-username,
#logout-button {
	width: fit-content;
}

.user-session {
	width: 15rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: flex-end;
	float: right;
}
