* {
	margin: 0;
	padding: 0;
}

.user-cards-row {
	width: 60%;
	height: 10rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0;
	column-gap: 0.2rem;
	overflow-x: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	bottom: 25rem;
	position: absolute;
}

.card-image {
	height: 7rem;
}
