* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #56a534;
	padding: 2rem;
	box-sizing: border-box;
}

button,
.current-username {
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	border: none;
}

.wrapper {
	width: 108rem;
	height: 100vh;
	background-image: url(../../assets/home_wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 30rem;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: #eee;
}

button {
	background: #555;
	padding: 10px 15px;
	color: #eee;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
button:hover {
	background: #4e4e4e;
}

.table-container {
	min-height: 10rem;
}

.footer {
	position: absolute;
	bottom: 0;
	color: #eee;
	background-color: #4e4e4e;
	width: 100%;
	line-height: 1.5rem;
	text-align: center;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.header {
	width: 100%;
}

.user-session {
	width: 15rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: flex-end;
	float: right;
}
